@model List<AdminThemeBC.Models.BillModel>
<main id="main" class="main">
    <div class="card-body">
        <h5 class="card-title fs-3">Bills</h5>
        <div class="my-3">
            <a href="#">
                <button class="btn btn-outline-info">Add New Bill</button>
            </a>
        </div>
        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">BillID</th>
                    <th scope="col">BillNumber</th>
                    <th scope="col">BillDate</th>
                    <th scope="col">OrderID</th>
                    <th scope="col">TotalAmount</th>
                    <th scope="col">Discount</th>
                    <th scope="col">NetAmount</th>
                    <th scope="col">UserID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bill in Model)
                {
                    <tr>
                        <td scope="col">@bill.BillID</td>
                        <td scope="col">@bill.BillNumber</td>
                        <td scope="col">@bill.BillDate</td>
                        <td scope="col">@bill.OrderID</td>
                        <td scope="col">@bill.TotalAmount</td>
                        <td scope="col">@bill.Discount</td>
                        <td scope="col">@bill.NetAmount</td>
                        <td scope="col">@bill.UserID</td>
                        <td scope="col" class="text-center">
                            <a href="#">
                                <button class="btn btn-success btn-sm">Edit</button>
                            </a>
                            <a href="#">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</main>
