@model System.Data.DataTable
<main id="main" class="main">
    <div class="card-body">
        <h5 class="card-title fs-3">Products</h5>
        <div class="my-3">
            <a asp-area="Main" asp-controller="Product" asp-action="AddEditProduct">
                <button class="btn btn-outline-info">Add New Product</button>
            </a>
        </div>
        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">UserID</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>
                        <td scope="col">@row["ProductID"]</td>
                        <td scope="col">@row["ProductName"]</td>
                        <td scope="col">@row["ProductPrice"]</td>
                        <td scope="col">@row["ProductCode"]</td>
                        <td scope="col">@row["Description"]</td>
                        <td scope="col">@row["UserID"]</td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</main>
