@model List<AdminThemeBC.Models.OrderDetailModel>
<main id="main" class="main">
    <div class="card-body">
        <h5 class="card-title fs-3">Order Details</h5>
        <div class="my-3">
            <a href="#">
                <button class="btn btn-outline-info">Add New Order Detail</button>
            </a>
        </div>
        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">OrderDetailID</th>
                    <th scope="col">OrderID</th>
                    <th scope="col">ProductID</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col">TotalAmount</th>
                    <th scope="col">UserID</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderDetail in Model)
                {
                    <tr>
                        <td scope="col">@orderDetail.OrderDetailID</td>
                        <td scope="col">@orderDetail.OrderID</td>
                        <td scope="col">@orderDetail.ProductID</td>
                        <td scope="col">@orderDetail.Quantity</td>
                        <td scope="col">@orderDetail.Amount</td>
                        <td scope="col">@orderDetail.TotalAmount</td>
                        <td scope="col">@orderDetail.UserID</td>

                        <td scope="col" class="text-center">
                            <a href="#">
                                <button class="btn btn-success btn-sm">Edit</button>
                            </a>
                            <a href="#">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</main>
