@model List<AdminThemeBC.Models.CustomerModel>
<main id="main" class="main">
    <div class="card-body">
        <h5 class="card-title fs-3">Customers</h5>
        <div class="my-3">
            <a href="#">
                <button class="btn btn-outline-info">Add New Customer</button>
            </a>
        </div>
        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <td scope="col">Customer ID</td>
                    <td scope="col">Customer Name</td>
                    <td scope="col">Email</td>
                    <td scope="col">MobileNo.</td>
                    <td scope="col">City Name</td>
                    <td scope="col">Pin Code</td>
                    <td scope="col">Net Amount</td>
                    <td scope="col">UserID</td>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td scope="col">@customer.CustomerID</td>
                        <td scope="col">@customer.CustomerName</td>
                        <td scope="col">@customer.Email</td>
                        <td scope="col">@customer.MobileNo</td>
                        <td scope="col">@customer.CityName</td>
                        <td scope="col">@customer.PinCode</td>
                        <td scope="col">@customer.NetAmount</td>
                        <td scope="col">@customer.UserID</td>
                        <td scope="col" class="text-center">
                            <a href="#">
                                <button class="btn btn-success btn-sm">Edit</button>
                            </a>
                            <a href="#">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</main>
